html {
    height: 100%;
    width: 100%;
    background-color: #4682B4;
}

#result{
    
    text-align:center;
}
.cat {
    height: 450px;
    width: 650px;
    border: 5px black solid;
}


.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.header {
    text-align: center;
    
   
    background-color: white;
   
 
    padding: 1px;
    width: 800px;
}

.header1 {
    display: flex;
    justify-content: center;
}



.container2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}



label {
    font-size: 25px;
    margin-bottom: 10px;

}

input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 550px;
}

#container3 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    width: 1000px;
    padding-top: 10px;
    color: black;
}

.paw {
    height: 120px;
    width: 120px;
    border: 3px solid pink;
    border-radius: 105px;
}

.sub {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
   
}